* {
            margin:0;
            padding:0;
            text-decoration: none;
            list-style-type: none;
            box-sizing: border-box;
            font-size: 0.9rem;
            color:#f2f2f2;
        }
        
body {
            background-color: #000;
            background-image: url('//posterblk.jpeg');
}

main {

}
