* {
            margin:0;
            padding:0;
            text-decoration: none;
            list-style-type: none;
            box-sizing: border-box;
            font-size: 0.9rem;
            color:#f2f2f2;
        }
        
        body {
            background-image: url('/img/mind_your_head.jpg');
            background-position: top;
            background-attachment: fixed;
            background-size: contain;
            background-repeat: no-repeat;
            background-color: black;
        }

        .wrapper {
            position:relative;           
        }

        @import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

        header {
            width:350px;
            position:fixed;
            z-index:9;
            padding:78px 0 0 78px;
            /* mix-blend-mode: difference; */
        }

        header .name {
            margin-bottom:40px;            
        }

        header .name h1 a {
            font-size:2.5rem;
        }

        header .name h2, h3 {
            font-weight:400;
        }

        nav ul.menu li>strong {
            display:inline-block;
            width:50px;

        }

        nav ul.menu>li {
            margin-bottom:15px;
        }

        nav ul.submenu li {
            margin-left:30px;
        }


        main {
            position:absolute;
            right:0;
            width:70%;
            /* background-color: aquamarine; */
        }

        main .container {
            padding: 78px 78px;
            /* background-color: skyblue; */
            display:flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
        }

        main .container .box {
            width:500px;
            height:500px;
            margin:0 auto 30px;
            background-color: #1fe0;
        }

       main .container .box img {
            width:100%;
            height:auto;
        }

        footer {
            width:100%;
            padding:15px 70px;
            position:fixed;
            bottom:0;
            /* background-color: blueviolet; */
            text-align: right;
        }

        footer span {
            margin-right:80px;
        }
